img {
    height: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header h1 {
    font-size: 7vw;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.purple-link {
    font-size: 3vw;
}

.purple-link:after {
    height: 4px;
}
#header {
    max-width: 90vw;
    text-align: center;
}
