#header {
    margin-left: 0;
}

#sort-icons {
    height: 50px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#sort-icons a {
    text-decoration: none;
    border: 1px solid black;
    margin: 0px 5px 0px 5px
    
}

.icon {
    width: 25px;
    height: 25px;
}