.nowrap {
    white-space: nowrap;
    word-break: keep-all;
  }

#container {
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    border: 1px dashed black;
}

.bold {
    display: inline;
    font-weight: 900;
}

#header {
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#header h1 {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.1rem;
    margin-top: 0;
}

#header h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #717171;
    margin: 0;
    margin-bottom: 1.15rem;
}

body {
    margin:0;
}
/* Rename bod div to something else bruh */
body #body {
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

body #body p {
    margin: 0;
    font-weight: 300;
    font-size: 1.1rem;
    color: #414141;
    line-height: 1.70rem;

}

/* Thank Vlad from Stack Overflow for his underline animation
    https://stackoverflow.com/a/40242626
 */

.purple-link {
    color: #885CDB;
    font-weight: 600;
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
}

.purple-link:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -2px;
    background:  #885CDB;
    height: 3px;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.purple-link:hover:after,
.purple-link:focus:after,
.purple-link:active:after {
    left: 0;
    right: auto;
    width: 100%;
}


/* Media query bois  */

@media screen and (max-width: 582px) {
    #body { 
        width: 85vw;
        padding-bottom: 3em;
    }

    #header {
        max-width: 85vw;
    }
    #header h1 {
        font-size: 7.5vw;
        margin-top: 1em;
    }

    #header h3 {
        font-size: 4.25vw;
    }

    #container {
        justify-content: flex-start;
    }
  }
