.nowrap {
  white-space: nowrap;
  word-break: keep-all;
}

#container {
  font-family: "Open Sans", sans-serif;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.bold {
  display: inline;
  font-weight: 900;
}

#innerDiv {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 3px;
  box-shadow: inset 0px 0px 40px 40px rgba(255, 255, 255, 0.5);
}
#header {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#header h1 {
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0.1rem;
  margin-top: 0;
}

#header h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #717171;
  margin: 0;
  margin-bottom: 1.15rem;
}

body {
  margin: 0;
}
/* Rename bod div to something else bruh */
body #body {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

body #body p {
  margin: 0;
  font-weight: 300;
  font-size: 1.1rem;
  color: #414141;
  line-height: 1.7rem;
}

/* Thank Vlad from Stack Overflow for his underline animation
    https://stackoverflow.com/a/40242626
 */

.purple-link {
  color: #885cdb;
  font-weight: 600;
  text-decoration: none;
  display: inline;
  position: relative;
  overflow: hidden;
}

.purple-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -2px;
  background: #885cdb;
  height: 3px;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.purple-link:hover:after,
.purple-link:focus:after,
.purple-link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

#awardsTitle {
  margin-bottom: 0;
}

/* coding gods forgive me for using !important but this website is janked  */

.mini {
  margin-top: 1px !important;
  font-size: 10px !important;
}

.award {
  margin-top: 8px !important;
}

/* Media query bois  */

@media screen and (max-width: 582px) {
  #body {
    width: 85vw;
    padding-bottom: 3em;
  }

  #header {
    max-width: 85vw;
  }
  #header h1 {
    font-size: 7.5vw;
    margin-top: 1em;
  }

  #header h3 {
    font-size: 4.25vw;
  }

  #container {
    justify-content: flex-start;
    width: 100%;
  }
}
